---
import { clientId } from "@/core/config";

const redirectUri = "http://localhost:8080/api/v1/oauth/discord/callback";
const scope = "identify";
const discordLoginUrl = `https://discord.com/oauth2/authorize?client_id=${clientId}&redirect_uri=${encodeURIComponent(redirectUri)}&response_type=code&scope=${scope}`;
---

<a href={discordLoginUrl}>
    <button>Iniciar sesión con Discord</button>
</a>
