---
import PageRuleForm from "@/components/core/organisms/rule-form";
import RulesList from "@/components/core/organisms/RulesList.astro";
import SeoLayout from "@/core/layouts/SeoLayout.astro";
import "@styles";

const title = "Redirect - Incognity";
const description = "Manage and view your redirection rules";
---

<SeoLayout>
    <h1 class="text-5xl font-extrabold mb-6 text-white drop-shadow">
        {title}
    </h1>
    <p class="text-zinc-400 mb-10">{description}</p>

    <PageRuleForm client:load />

    <div
        class="bg-zinc-900 border border-zinc-800 rounded-xl shadow-lg p-6 space-y-4"
    >
        <RulesList server:defer />
    </div>
</SeoLayout>
