---
import ToastRedirect from "@/components/core/molecules/toast-redirect";
import { Main } from "@/components/core/organisms/main";
import SeoLayout from "@/core/layouts/SeoLayout.astro";
import "@styles";

const title = "Redirect - Incognity";
const description = "Manage and view your redirection rules";
---

<SeoLayout>
    <h1 class="text-5xl font-extrabold mb-6 text-white drop-shadow">
        {title}
    </h1>
    <p class="text-zinc-400 mb-10">{description}</p>

    <Main client:load />
    <ToastRedirect client:load />
</SeoLayout>
