<p>Procesando autenticación...</p>

<script>
    const params = new URLSearchParams(location.search);
    const token = params.get("jwt");

    if (token) {
        localStorage.setItem("jwt", token);
        window.location.href = "/";
    } else {
        window.location.href = "/";
    }
</script>
